Debug/*
ROSA_student.*
nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.cproject
.settings
.framework
composer.lock
vendor/bin
data/logs
zf-commons
module/Application/language/*.mo
module/Application/language/*.po
make_makefile.sh
Makefile
composer.cproject.*
*~
*.atsuo
ROSA_student_6_2.atsln
ROSA_student_6_2.cproj
